html {
	font-size: 10px
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: sans-serif !important;
}

#book-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, 30rem);
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	justify-content: center;
	padding-top: 2rem;
}

.book-card {
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 1rem 1rem;

	.book-title {
		display: inline-block;
		font-size: 1.8rem;
		margin-bottom: .5rem;
	}

	.title-remove-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.remove-book-button {
		background: none;
		border: none;
		color: darkred;
		font-size: 2em;
		cursor: pointer;
		position: relative;
		top: -.2rem;
	}

	ul.book-links {
		list-style: none;
		padding: 0;
		* {
			font-size: 1.5rem;
		} 
		li {
			display: flex;
		}
		.book-price {
			margin-left: auto;
		}
		.book-link {
			font-size: 1.5rem;
			color: blue;
			padding-left: 1rem;
			text-decoration: none;
			&:visited, &:hover {
				color: blue;
				text-decoration: underline;
			}
		}
	}
	button.add-link-button {
		margin-top: auto;
	}
	label {
		font-size: 1.5rem;
		display: inline;
	}
	.target-price-wrapper {
		display: flex;
		align-items: center;
	}
	.target-price {
		display: inline;
	}

}

.add-book-button {
	width: 100%;
	height: 5rem;
}

input[type="text"], input[type='number'] {
	border: none;
	background: none;
	text-overflow: ellipsis;
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
